version: 2.1

workflows:
  build-test:
    jobs:
      - prep-deps
      - build:
          requires:
            - prep-deps
      - test-lint:
          requires:
            - prep-deps
            - build
      - test-unit:
          requires:
            - prep-deps
            - build
      - all-tests-pass:
          requires:
            - test-lint
            - test-unit

jobs:
  prep-deps:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - run:
          name: Install deps
          command: |
            .circleci/scripts/deps-install.sh
      - persist_to_workspace:
          root: .
          paths:
          - node_modules
          - build-artifacts
  
  build:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Build
          command: |
            ./scripts/prepack.sh
      - persist_to_workspace:
          root: .
          paths:
          - dist

  test-lint:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Lint
          command: yarn lint

  test-unit:
    docker:
      - image: circleci/node:14
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run:
          name: Unit tests
          command: yarn test

  all-tests-pass:
    docker:
      - image: circleci/node:14
    steps:
      - run:
          name: All tests passed
          command: echo 'Great success'
